.banner {
  width: 100%;
  height: 310px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #f5f5f5;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  backdrop-filter: blur(15px);
}

.text {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Regular", Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 112.5% */
  letter-spacing: -0.8px;
  z-index: 20;
}

.img {
  position: absolute;
  left: 70%;
  bottom: -15%;
  height: 500px;
}
