.content {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

.title {
  color: #000;
  font-family: "Regular", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 30px;
}

.title-margin {
  margin-bottom: 40px;
  text-align: center;
}

.progress {
  border-radius: 30px;
  background: #f2f2f2;
  padding: 36px 55px 32px 44px;
  width: 638px;
  box-sizing: border-box;
}

.progress-container {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.heading {
  color: #000;
  font-family: "Regular", Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.path {
  color: #000;
  font-family: "Regular", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;
}

.list {
  margin-bottom: 40px;
  max-width: 700px;
  display: flex;
  flex-flow: column;
  gap: 30px;
}

.video {
  height: 630px;
}

.progress-item-wrapper {
  height: 64px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
