.main {
  background: #271a58;
}

.img_box {
  position: relative;
  cursor: pointer;
}
.img_box:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.img_title {
  position: absolute;
  top: 50px;
  left: 50px;
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 39.6px */
  letter-spacing: -0.5px;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.content_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 23px */
  letter-spacing: -0.05px;
  opacity: 0.5;
  padding-bottom: 17px;
}
.subtitle {
  color: #f4f4ff;

  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 91.5%; /* 54.9px */
  letter-spacing: -1.169px;
}

.content_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 37px;
}
.img {
  border-radius: 30px;
  width: 360px;
  height: 480px;
}
