.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.5s;
  box-shadow: 0px 0px 100px #9a48f1;
  border-radius: 12px;
  position: fixed;
}

.modal {
  width: 366px;
  height: 439px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  padding: 33px 47px 47px 41px;
  box-sizing: border-box;
}
.inputs_container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 38px;
  width: 100%;
  box-sizing: border-box;
}
.buttons_container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}
