@font-face {
  font-family: StratosSkyeng;
  src: url("../assets/fonts/Stratos-Regular.woff2") format("woff2"),
    url("../assets/fonts/Stratos-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
