:global(*) {
  margin: 0;
  padding: 0;
  font-family: "Regular", Arial, Helvetica, sans-serif;
}

:global(.container) {
  padding: 30px 140px 60px 140px;
}

:global(.container-opacity) {
  opacity: 0.2;
  transition: 0.5s;
}

:global(button) {
  cursor: pointer;
}

:global(video) {
  width: 100%;
  height: 639px;
}

:global(.link) {
  text-decoration: none;
}

:global(.small-text) {
  color: #000;
  font-family: "Regular", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@font-face {
  font-family: "Regular";
  src: local("Stratos-Regular"),
    url("./fonts/Stratos-Regular.woff2") format("woff2"),
    url("./fonts/Stratos-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 5px;
  scroll-margin: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
