:global(*) {
  margin: 0;
  padding: 0;
  font-family: "Regular", Arial, Helvetica, sans-serif;
}

:global(.container) {
  padding: 30px 140px 60px 140px;
}

:global(.small-text) {
  color: #000;
  font-family: "Regular", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@font-face {
  font-family: "Regular";
  src: local("Stratos-Regular"),
    url("./fonts/Stratos-Regular.woff2") format("woff2"),
    url("./fonts/Stratos-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
